*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
background-color: gainsboro;
margin-left: 10px;
}

#todo {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#cuadrado1{
width: 30%;
background-color: white;
height: 300px;
display:block;
font-family: 'Rubik Beastly', cursive;

}

#cuadrado2{
    width: 30%;
    background-color: white;
    height: 300px;
    margin-left: 10px;
    display:block;
    font-family: 'The Nautigal', cursive;
    font-size:x-large;
    }

    #cuadrado3{
        width: 30%;
        background-color: white;
        height: 300px;
        margin-left: 10px;
        display:block;
        font-family: "myFont", "Bitstream Vera Serif", serif;
        font-family: 'Bebas Neue', cursive;
        }

        #cuadrado4{
            width: 30%;
            background-color: white;
            height: 300px;
            margin-top: 10px;
            margin-left: 10px;
            display:block;
            font-family: "myFont", "Bitstream Vera Serif", serif;
            font-family: 'Abril Fatface', cursive;
            }

            #cuadrado5{
                width: 30%;
                background-color: white;
                height: 300px;
                margin-top: 10px;
                margin-left: 10px;
                display:block;
                font-family: "myFont", "Bitstream Vera Serif", serif;
                font-family: 'Josefin Sans', sans-serif;
                }